@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/elements'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'

c-green = #00FFC6
c-grey  = #383838
c-yellow = #FFED00

body
	background #383838
	font-family 'Open sans', sans-serif


size = 110px
.lego
	border 3px solid c-green
	rect size
	display block
	border-radius 50%
	position absolute
	nw 50%
	margin-left -(size/2)
	margin-top  -(size/2)
	top 72%
	color c-green
	shift = 40px
	background url('i/legomushroom.svg') no-repeat center 45%
	background-size 75% auto
	opacity 0

	&__text
		bottom -(shift)
		width 100%
		text-align center
		margin-left -4px
		font-size 14px

		&--header
			top -(shift)
			margin-left 0

size = 32px
.restart
	nw 50%
	border-radius 50%
	rect size
	margin-left -(size/2)
	margin-top  -(size/2)
	background white url('i/restart.svg') no-repeat center 45%
	opacity 0

	&:hover
		cursor pointer
		background-color #f5f5f5

width = 201px
.github
	border 3px solid c-green
	rect width
	border-radius 50%
	display block
	position absolute
	top 12%
	left 50%
	margin-left -(width/2)
	background url('i/octocat.svg') no-repeat center center
	background-size 75% auto
	opacity 0

	&__text
		bottom -40px
		color c-green
		width 100%
		text-align center



.my-logo
	nw 50%
	z-index 20
	display inline-block
	color #FCF7C0
	text-align center

	&__header
		width 108px
		font-size 14px
	
	&__img
		margin-top 25px
		border 4px solid #FF6664
		rect 108px
		border-radius 50%
		background #FCF7C0 url('https://en.gravatar.com/userimage/42114947/493706219cfb7cd584f4612557f759cd.png?size=100')
		
	&__text
		color #FCF7C0
		bottom -160px
		left -4px
		font-size 14px


width = 2px
.line
	width width
	height 0
	nw 50%
	margin-left -(width/2)
	background c-green
	transform-origin center bottom

.bubble
	rect 24px
	border 12px solid c-green
	border-radius 50%
	nw 50%
	opacity 0

.bubbles
	rect 100%
	nw 0
	margin-top -100px
	margin-left -10px

height = 240px
.easy
	nw 50%
	rect height
	line-height height
	background c-green
	border-radius 50%
	text-align center
	transform translate(-50%, -50%)
	font-size 60px
	color c-grey
	text-transform uppercase
	z-index 11
	rect 0
	overflow hidden

	&__wrapper
		rect 100%
		nw 0

	&__text
		rect 100%


.drop
	rect 4px
	nw 50%
	opacity 0

.spark
	background c-green
	opacity 0
	border-radius 50%

.thunder-bg
	background c-green
	opacity 0
	rect 100%
	nw 0
	z-index 0

.arrow
	width 2px
	height 200px
	transform-origin center bottom
	background c-green
	top -100%
	left 100%
	margin-top -175px

	&--center
		margin-left -28px
		margin-top -120px
	&--wrap
		rect 100%
		nw 0
		margin-top 0
		// rect auto
		background transparent

.car
	height 10px
	width 40%
	opacity 0
	// border-radius 50%
	&--1
		right 100%
		top 40%
		border-top-left-radius 50%
		border-bottom-left-radius 50%
	&--2
		left 100%
		top: 60%
		border-top-right-radius 50%
		border-bottom-right-radius 50%

.text
	font-family 'Open Sans'
	font-size 60px
	text-transform uppercase
	font-weight 100
	text-align center
	letter-spacing 10px
	&--fast
		rect 100%
		nw 0
	&--robust
		nw 50%
		margin-left -200px
		z-index 8
		overflow hidden
		transform-origin left bottom
		&__shade
			background c-grey
			// background deeppink
			top 0
			rect 100%
			&--1
				transform skew(-20deg) translateX(-4px)
				left -90px
			&--2
				width 90px
				right 0
				
	step = 45px
	&__bit
		nw 50%
		&--1
			margin-left -(step*2)
		&--2
			margin-left -(step)
		&--3
			margin-left 0
		&--4
			margin-left step
		&__inner
			display inline-block
			position static
			transform-origin center bottom
		span
			display inline-block
			margin-top -30px

.c-green-g
	background c-green

.c-green-c-g
	color c-green

.c-grey-g
	background c-grey

.c-red-g
	background deeppink

.circle
	border-radius 50%

.center
	nw 50%

.a-g
	position absolute

div
	position absolute
	z-index 10
	font-family 'Open sans', sans-serif

.screen
	position absolute
	nw 0
	rect 100%
	&--robust
		z-index 1
	&--easy
		z-index 12
	&--logos
		z-index 20
		display none

.inherit-bg
	background inherit

.velocity
	position absolute
	nw 50%
	color c-green
	font-size 70px
	text-transform uppercase
	font-weight 100
	margin-left (1320)px
	min-width 400px
	margin-top  -40px
	transform translateX(-160px)
	span
		display inline-block



