doctype
html
  head
    meta(charset='UTF-8')
    title gradient
    link(rel="stylesheet", type="text/css", href="css/main.css")
    //- <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
  body
    .text-wrapper#js-fast
        .text-wrapper__text fast
        .text-wrapper__shade
    .text-wrapper.text-wrapper--robust#js-robust
        .text-wrapper__text robust
        .text-wrapper__shade
    .text-wrapper.text-wrapper--easy#js-easy
        .text-wrapper__text easy
    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/velocity/jquery.velocity.js")
    script(src="js/cross.js")
    script(src="js/main.js")

