doctype
html
  head
    meta(charset='UTF-8')
    title velocity
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800', rel='stylesheet', type='text/css')
  body
    .car.car--1.c-green-g#js-car1
    .car.car--2.c-green-g#js-car2
    .c-green-c-g.text.text--fast#js-fast
      .text__bit.text__bit--1:.text__bit__inner#js-bit-inner: span#js-span f
      .text__bit.text__bit--2:.text__bit__inner#js-bit-inner: span#js-span a
      .text__bit.text__bit--3:.text__bit__inner#js-bit-inner: span#js-span s
      .text__bit.text__bit--4:.text__bit__inner#js-bit-inner: span#js-span t

    .arrow#js-arrow1
    .arrow#js-arrow2
    .arrow#js-arrow3
    .arrow.arrow--wrap#js-arrow-wrap: .arrow.arrow--center#js-arrow4

    .screen.screen--robust#js-robust-screen2
      .screen.screen--robust#js-robust-screen
        .text.text--robust.c-green-c-g#js-robust robust
          .text--robust__shade.text--robust__shade--1#js-robust-shade1
          .text--robust__shade.text--robust__shade--2#js-robust-shade2
    
    .thunder-bg#js-thunder-bg

    .screen.screen--easy#js-easy-screen
      .text.easy#js-easy
        .easy__wrapper#js-easy-wrapper
          .easy__text#js-easy-text easy

          //- .easy__line.easy__line--top#js-easy-line1
          //- .easy__line.easy__line--bottom#js-easy-line2


    .screen#js-screen1
      .line#js-line
    .screen#js-screen2

    
    .velocity#js-velocity
      span v
      span e
      span l
      span o
      span c
      span i
      span t
      span y
      span .
      span j
      span s

    .screen.screen--logos#js-logos-screen
      a(href="https://github.com/julianshapiro/velocity").github#js-github
        .github__text VelocityJS on GitHub

      .restart#js-restart

      a(href="https://twitter.com/legomushroom").lego#js-lego
        .lego__text.lego__text--header Demo by:
        .lego__text.lego__text @legomushroom


    script(src="js/main.min.js")
    //- script(src="bower_components/jquery/jquery.js")
    //- script(src="bower_components/velocity/jquery.velocity.js")
    //- script(src="js/helpers.js")
    //- script(src="js/spark.js")
    //- script(src="js/bubbles.js")
    //- script(src="js/drop.js")
    //- script(src="js/cloud.js")
    //- script(src="js/thunder.js")
    //- script(src="js/cross.js")
    //- script(src="js/main.js")

