doctype
html
  head
    meta(charset='UTF-8')
    title velocity
    link(rel="stylesheet", type="text/css", href="css/main.css")
    //- <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
  body
    .car.car--1.c-green-g#js-car1
    .car.car--2.c-green-g#js-car2
    .center.c-green-c-g.text.text--fast#js-fast
      span: span f
      span: span a
      span: span s
      span: span t
    //- .slice.slice--grey
    //- //- .slice.slice--green
    //- .slice.slice--white
    //- //- .slice.slice--orange
    //- .slice.slice--purple
    //- .slice1.slice--green.c-green-g
    //- .text-wrapper#js-fast
    //-     .text-wrapper__text fast
    //-     .text-wrapper__shade
    //- .text-wrapper.text-wrapper--robust#js-robust
    //-     .text-wrapper__text robust
    //-     .text-wrapper__shade
    //- .screen.screen--1#js-screen1
    //- .text-wrapper.text-wrapper--easy#js-easy
    //-   .text-wrapper__text easy

    .velocity#js-velocity
      span v
      span e
      span l
      span o
      span c
      span i
      span t
      span y
      span .
      span j
      span s

    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/velocity/jquery.velocity.js")
    script(src="js/helpers.js")
    script(src="js/cross.js")
    script(src="js/main.js")

