// ELEMENTS
@import '../assets/imports.styl'


.loader
	rect 1000px
	margin 0 auto
	animation rotate 2s linear infinite
	// -webkit-animation rotate 2s linear infinite
	stroke-width 2px
	border-radius 50%
	position relative
